/* Font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

.clock {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    color: #425F57;
    text-align: center;
    padding: 5px 10px;
    border: none; /* Removed border */
    border-radius: 5px;
    width: fit-content;
    margin: 60px auto 0;
    position: fixed;
    top: 20px;
    right: 20px;
    background: linear-gradient(to right, #cedfda, #6ea696); /* Added gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hr-line {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #425F57, rgba(0, 0, 0, 0));
}


/* Variable */
:root {
    --c-brand: #425F57;
    --c-brand-rgb: 248, 54, 145;
    --c-dark: #1f3730;
    --c-body: #636383;
    --c-light: #f6f6f6;
    --f-main: "Bai Jamjuree", sans-serif;
    --transition: all .4s cubic-bezier(.165, .84, .44, 1);
    --shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 25px 30px; /* Adjust padding as per your existing button */
    color: #425F57;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.btn:hover {
    background: #6ea696;
    color: #050801;
    box-shadow: 0 0 5px #425F57,
                0 0 25px #425F57,
                0 0 50px #425F57,
                0 0 200px #425F57;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn span {
    position: absolute;
    display: block;
}

.btn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #425F57);
    animation: animate1 1s linear infinite;
}

/* --------- */
.navbar-brand, .btn {
    position: relative;
    display: inline-block;
    padding: 10px 15px; /* Adjust padding as needed */
    margin-right: 30px; /* Adjust margin as needed */
    color: #425F57;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px; /* Adjust letter spacing as needed */
    font-family: 'Raleway', sans-serif;
    font-size: 16px; /* Adjust font size as needed */
}

.navbar-brand:hover, .btn:hover {
    background: #425F57;
    color: #050801;
    box-shadow: 0 0 5px #425F57,
                0 0 15px #425F57, /* Adjust the glow effect */
                0 0 30px #425F57, /* Adjust the glow effect */
                0 0 100px #425F57; /* Adjust the glow effect */
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(238, 236, 236, 0.333));
}

.navbar-brand span, .btn span {
    position: absolute;
    display: block;
}

.navbar-brand span:nth-child(1), .btn span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #425F57);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.navbar-brand span:nth-child(2), .btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #425F57);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.navbar-brand span:nth-child(3), .btn span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #425F57);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.navbar-brand span:nth-child(4), .btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #425F57);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

/* ------------------ */

body {
    font-family: var(--f-main);
    color: var(--c-body);
    line-height: 1.7;
    
}   

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 700;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-dark);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand);
}

img {
    width: 100%;
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    max-width: 560px;
    margin: 0 auto 60px auto;
}

.section-title .line {
    width: 60px;
    height: 2px;
    background-color: var(--c-brand);
    display: inline-block;
}

.section-connector {
    position: relative;
}

.section-connector::after {
    content: '';
    width: 3px;
    height: 100px;
    background-color: var(--c-brand);
    position: absolute;
    top: -50px;
    left: 50%;
}

/* Navbar */
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: var(--transition);
    
}

.navbar.scrolled {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(255, 255, 255);
    
}



.navbar-toggler:focus {
    box-shadow: none;
}




    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 16px;
            padding-left: 16px;
        }
    }
    @media (max-width: 991px) {
        /* Style for mobile devices */
        .navbar-toggler {
            background: none;
            border: none;
            color: #425F57;
            font-weight: 500;
            padding: 10px 15px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
    
        .navbar-toggler:focus,
        .navbar-toggler:hover {
            background-color: #6ea696; /* Background color on hover */
            color: #050801; /* Text color on hover */
        }
    }
    


.navbar .navbar-nav .nav-link {
    font-weight: 700;
    color: var(--c-dark);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active  {
    color: var(--c-brand);
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    color: var(--c-dark);
}

.social-icon {
    font-size: 25px;
    width: 36px;
    height: 36px;
    background-color: var(--c-brand);
    color: white;
    border: 2px solid var(--c-brand);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

.social-icon:hover {
    background-color: transparent;
}

/* Button Home */
.btn {
    padding: 10px 24px;
    border-radius: 0;
    border-width: 2px;
    font-weight: 500;
}

.btn-brand,
.btn-brand:focus {
    background-color: var(--c-brand);
    color: white;
    border-color: var(--c-brand);
}

.btn-brand:hover {
    background-color: transparent;
    color: var(--c-brand);
    border-color: var(--c-brand);
}


/* Home */
#home {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
    background-position: center top;
    background-size: cover;
}

.text-brand {
    color: var(--c-brand);
}

/* Services */
.service-icon {
    width: 45px;
    height: 45px;
    background-color: var(--c-brand);
    color: #fff;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.custom-link {
    display: inline-flex;
    align-items: center;
}

.custom-link span {
    font-weight: 700;
}

.custom-link i {
    width: 27px;
    height: 27px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand);
    border-radius: 100px;
    color: #fff;
    margin-left: 6px;
    transition: var(--transition);
}

.custom-link:hover i {
    transform: translateX(6px);
}

/* Project */
.project {
    overflow: hidden;
    position: relative;
}

.project .content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--c-brand);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project img, 
.project .content {
    transition: var(--transition);
    width: 100%;
    height: 40vh;
    background-position: center top;
    object-fit: cover;
}

.project:hover .content {
    top: 0;
}

/* .project:hover img {
    transform: translateY(-100%);
} */

/* Skill */
.skill {
    margin-left: -1px;
}

.skill img {
    opacity: 0.7;
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
}

/* Adjust image size for tablets (landscape and portrait) and mobile devices */
@media (max-width: 1024px) {
    .skill img {
        max-width: 80%; /* Set maximum width for tablets and mobile devices */
    }
}

/* Education and Experience */
.edu-exp {
    transition: all 0.5s;
}

.edu-exp:hover {
    box-shadow: -6px 6px 0 0 var(--c-brand);
}

/* Contact */
#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

#contact input.form-control {
    height: 50px;
}

/* Footer */
footer {
    background-color: var(--c-dark);
    padding-top: 40px;
}

footer h4 {
    color: var(--c-light);
    margin-bottom: 24px;
}

footer p, footer li, footer li a {
    color: rgba(255, 255, 255, 0.5);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-top: 0;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.footer-bottom {
    padding: 40px 0;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom i {
    color: #f74747;
}

.footer-bottom a {
    color: var(--c-light);
}